@model FoodTruckAdminTools_v2.Models.PersonalInfo

<form asp-action="PartialCreatePersonalInfo">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label">First name</label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger">s</span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MiddleName" class="col-md-2 control-label">Middle name</label>
            <div class="col-md-10">
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label">Last name</label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SSN" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SSN" class="form-control" />
                <span asp-validation-for="SSN" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateOfBirth" class="col-md-2 control-label">Date of Birth</label>
            <div class="col-md-10">
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RoleId" class="col-md-2 control-label">Person Role</label>
            <div class="col-md-10">
                <select asp-for="RoleId" class="selectpicker" asp-items="@((ViewData["RoleId"] == null)? new SelectList(Enum.GetNames(typeof(PersonRoleEnum))) : new SelectList(Enum.GetNames(typeof(PersonRoleEnum)), ViewData["RoleId"]))" disabled="@(ViewData["RoleId"] != null)"></select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
        </div>

    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

